server:
  port: 8761

spring:
  application:
    name: service_registry_app
  profiles:
    active: local

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
