server:
  port: 8761

spring:
  application:
    name: service_registry_app

eureka:
  server:
    enable-self-preservation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
