spring:
  application:
    name: API-GATEWAY-SERVICE

  profiles:
    active: local

  cloud:
    gateway:
      routes:

        # -------- QUIZ SERVICE --------
        - id: quiz-service
          uri: lb://QUIZ-SERVICE
          predicates:
            - Path=/api/quizzes/**
          filters:
            - name: CircuitBreaker
              args:
                name: quizServiceCB
                fallbackUri: forward:/fallback/quiz

        # -------- QUESTION SERVICE --------
        - id: question-service
          uri: lb://QUESTIONS-SERVICE
          predicates:
            - Path=/api/questions/**
          filters:
            - name: CircuitBreaker
              args:
                name: questionServiceCB
                fallbackUri: forward:/fallback/question

  config:
    import: "optional:configserver:http://localhost:8087"
