server:
  port: 9090

spring:
  application:
    name: API-GATEWAY-SERVICE

  cloud:
    gateway:
      routes:

        # -------- QUIZ SERVICE --------
        - id: quiz-service
          uri: lb://QUIZ-SERVICE
          predicates:
            - Path=/api/quizzes/**
          filters:
            - name: CircuitBreaker
              args:
                name: quizServiceCB
                fallbackUri: forward:/fallback/quiz

        # -------- QUESTION SERVICE --------
        - id: questions-service
          uri: lb://QUESTIONS-SERVICE
          predicates:
            - Path=/api/questions/**
          filters:
            - name: CircuitBreaker
              args:
                name: questionServiceCB
                fallbackUri: forward:/fallback/question

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    org.springframework.web.reactive.function.client: DEBUG

eureka:
  instance:
    prefer-ip-address: true










