spring:
  application:
    name: API-GATEWAY-SERVICE
  profiles:
     active: local
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: QUIZ-SERVICE
              uri: lb://QUIZ-SERVICE
              predicates:
                - Path=/api/quizzes/**
            - id: QUESTIONS-SERVICE
              uri: lb://QUESTIONS-SERVICE
              predicates:
                - Path=/api/questions/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG