server:
  port: 9090

spring:
  config:
    import: "optional:configserver:http://localhost:8087"

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/master

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


