server:
  port: 8082

spring:
  application:
    name: QUESTIONS-SERVICE

management:
  endpoints:
    web:
      exposure:
        include: health,info

eureka:
  instance:
    prefer-ip-address: true