spring:
  application:
    name: QUESTIONS-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/testdb
    username: akshay
    password: Akshay@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka/

server:
  port: 8080