server:
  port: 8087

spring:
  application:
    name: CONFIG-SERVER

  cloud:
    config:
      server:
        git:
          uri: https://github.com/alkshay9881/MicroCrashCourse-config
          default-label: main
          clone-on-start: true
          timeout: 20
          skip-ssl-validation: true



logging:
  level:
    org.springframework.cloud.config: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
